body{
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}
header{
    align-items: center;
    justify-content: center;
    display: flex;
}
img{
    width: 300px; /* Tamanho desejado para computador */
    height: auto; /* Isso garante que a altura seja ajustada proporcionalmente à largura */
}
/* Consulta de mídia para telefones */
@media only screen and (max-width: 600px) {
    .img-classe {
        width: 100%; /* Ajusta a largura para ocupar 100% da largura da tela do telefone */
        height: auto; /* Ajusta a altura proporcionalmente */
    }
}
h2{
    align-items: center;
    justify-content: center;
    display: flex;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
}
footer p{
    text-align: center;
}
